/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */

@define-color main-fg #cdd6f4;
@define-color main-bg #11111b;
@define-color main-br #cdd6f4;

@define-color second-bg #313244;

@define-color active-bg #9399b2;
@define-color active-fg #11111b;

@define-color hover-bg #313244;
@define-color hover-fg rgba(205, 214, 244, 0.75);

@define-color white #ffffff;
@define-color black #000000;

/* Module Colors */

@define-color module-fg #f5e0dc;
@define-color workspaces #181825;

@define-color wireplumber #181825;

@define-color good #f5e0dc;
@define-color warning #f9e2af;
@define-color critical #f38ba8;

* {
    font-family: FontAwesome, "JetBrainsMono NFP", Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
    font-weight: normal;
    animation-timing-function: steps(12);
    animation-duration: 0.3s;
    transition: all 0.3s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}


window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* === Drop Shadow === */

window#waybar>box {
    background-color: transparent;
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1); */
    /* margin: 2px; */
}

/* === Tooltip === */

tooltip {
    background: @main-bg;
    border: solid;
    border-width: 1.5px;
    border-radius: 8px;
    border-color: @main-br;
}

tooltip label {
    color: @main-fg;
    font-weight: normal;
    margin: 0.25px;
}

#workspaces {
    background: @workspaces;
}

#workspaces button {
    color: @module-fg;
    border-radius: 10px;
    box-shadow: none;
    margin: 2px 0;
    padding: 0 2px;
    transition: none;
}

#workspaces button:hover {
    color: @hover-fg;
    background: @hover-bg;
    text-shadow: none;
    box-shadow: none;
}

#workspaces button.active {
    color: @active-fg;
    background: @active-bg;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    margin: 2px;
    padding: 0 6px;
}

.module {
    opacity: 1;
    color: @module-fg;
    margin-bottom: 0;
    padding: 1px 6px;
    border-radius: 8px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: @second-bg;
}

.module:hover {
    color: @hover-fg;
    text-shadow: none;
    box-shadow: none;

    background-color: #a37800;
}

#memory.warning {
    color: @warning;
}

#memory.critical {
    color: @critical;
}

#tray {
    background-color: #2980b9;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
